footer {
    flex-shrink: 0;
    margin-top: auto;
    padding: 15px;
    background: $nord0;
    color: #ffffff;
    text-align: center;
    font-size: small;

    .social {
        margin-bottom: 8px;

        @include hide-medium;
        @include hide-large;
    }
}
