// Elements that span the width should have a some padding in them
@mixin span-page {
    padding-left: 6%;
    padding-right: 6%;

    @include small-size {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@mixin small-size {
    @media screen and (max-width: $small-threshold) {
        @content;
    }
}

@mixin medium-size {
    @media screen and (min-width: $small-threshold + 1) 
            and (max-width: $medium-threshold) {
        @content;
    }
}

@mixin large-size {
    @media screen and (min-width: $medium-threshold + 1) {
        @content;
    }
}

@mixin hide-small {
    @include small-size {
        display: none;
    }
}

@mixin hide-medium {
    @include medium-size {
        display: none;
    }
}

@mixin hide-large {
    @include large-size {
        display: none;
    }
}