{% assign current = page.url | downcase | split: '/' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The most popular HTML, CSS, and JS library in the world.">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="icon" href="assets/img/uava_logo_dark.png">
    <link href="assets/css/uav.css" rel="stylesheet">
  </head>
  
  <body>
    <nav class="navbar navbar-dark navbar-expand-lg uav-navbar py-3">
      <div class="container">
        <a class="navbar-brand pb-3 pl-1" href="/"><img src="assets/img/uava_logo_light.png" width="175" height="25"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#uav-navbar" aria-controls="uav-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="uav-navbar">
          <ul class="navbar-nav ml-auto">
	    <li class="nav-item">
              <a {% if page.home_active %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="/">Home</a>
	    </li>
	    <li class="nav-item">
              <a {% if current[1] == 'team.html' %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="/team">The Team</a>
	    </li>
	    <li class="nav-item">
              <a {% if current[1] == 'aircraft.html' %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="/aircraft">Aircraft</a>
	    </li>
	    <li class="nav-item">
              <a {% if current[1] == 'sponsors.html' %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="/sponsors">Sponsors</a>
	    </li>
	    <li class="nav-item">
              <a {% if current[1] == 'contact.html' %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="/contact">Contact</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="https://utdirect.utexas.edu/apps/utgiving/online/nlogon/?menu1=ENDS&comments=The%20UT%20UAV%20Team%20(UAV%20Austin)" target="_blank">Donate</a>
	    </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="big-container">
      <div class="content">
	{{ content }}
      </div>
      <footer class="footer text-center">
	<div class="container-fluid p-3 p-md-4 m-0">
	  <ul class="bd-footer-links">
	    <li><a href="mailto:uavaustin@gmail.com">Email</a></li>
	    <li><a href="https://www.google.com/maps/place/W.R.+Woolrich+Labs,+210+E+24th+St,+Austin,+TX+78712/" target="_blank">Map</a></li>
       	    <li><a href="/contact">Contact</a></li>
	  </ul>
	  <a href="http://ae.utexas.edu"><img class="mt-2" src="/assets/img/uava_light.png" height="35"/></a>
	</div>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
