{% assign current = page.url | downcase | split: '/' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The most popular HTML, CSS, and JS library in the world.">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="icon" href="assets/img/uava_logo_dark.png">
    <link href="assets/css/uav.css" rel="stylesheet">
  </head>
  
  <body>
    <nav class="navbar navbar-dark navbar-expand-lg uav-navbar py-3">
      <div class="container">
        <a class="navbar-brand pb-3 pl-1" href="/"><img src="assets/img/uava_logo_light.png" width="140" height="20"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#uav-navbar" aria-controls="uav-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="uav-navbar">
          <ul class="navbar-nav mr-auto">
	    <li class="nav-item">
              <a {% if page.home_active %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="/">Home</a>
	    </li>
	    <li class="nav-item">
              <a {% if current[1] == 'team.html' %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="/team">The Team</a>
	    </li>
	    <li class="nav-item">
              <a {% if current[1] == 'aircraft.html' %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="/aircraft">Aircraft</a>
	    </li>
	    <li class="nav-item">
              <a {% if current[1] == 'sponsors.html' %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="/sponsors">Sponsors</a>
	    </li>
	    <li class="nav-item">
              <a {% if current[1] == 'contact.html' %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="/contact">Contact</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="http://donate_link_goes_here" target="_blank">Donate</a>
	    </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="content">
      {{ content }}
    </div>
    
    <footer class="footer">
      <div class="container-fluid p-3 p-md-4">
	<ul class="bd-footer-links">
	  <li><a href="https://github.com/twbs/bootstrap">GitHub</a></li>
	  <li><a href="https://twitter.com/getbootstrap">Twitter</a></li>
	  <li><a href="/docs/4.1/examples/">Examples</a></li>
	  <li><a href="/docs/4.1/about/overview/">About</a></li>
	</ul>
	<p>Designed and built with all the love in the world by <a href="https://twitter.com/mdo" target="_blank" rel="noopener">@mdo</a> and <a href="https://twitter.com/fat" target="_blank" rel="noopener">@fat</a>. Maintained by the <a href="https://github.com/orgs/twbs/people">core team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>
	<p>Currently v4.1.1. Code licensed <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</p>
      </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
